<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.board.db.BoardDAO">
  <select id="getListCount" resultType="int">
    select count(*) from board
  </select>
  
  <select id="getBoardList" resultType="net.board.db.BoardBean">
    <![CDATA[
    select * from
    (select rownum rnum, imsi.* from 
    (select * from board order by BOARD_RE_REF desc,BOARD_RE_SEQ asc) imsi) 
    where rnum>=#{startrow} and rnum<=#{endrow}
    ]]>
  </select>
  
  <select id="getDetail" resultType="net.board.db.BoardBean">
    select * from board where BOARD_NUM = #{value}
  </select>
  
  <select id="getMaxNo" resultType="int">
    select max(board_num) from board
  </select>
  
  <insert id="boardInsert">
    insert into board (BOARD_NUM,BOARD_NAME,BOARD_PASS,BOARD_SUBJECT,
    BOARD_CONTENT, BOARD_FILE, BOARD_RE_REF,
    BOARD_RE_LEV,BOARD_RE_SEQ,BOARD_READCOUNT,
    BOARD_DATE) 
    values(#{BOARD_NUM},#{BOARD_NAME},#{BOARD_PASS},#{BOARD_SUBJECT},
    #{BOARD_CONTENT},#{BOARD_FILE},#{BOARD_NUM},
    0,0,0,
    sysdate)
  </insert>
  
  <update id="boardModify">
    update board set 
      BOARD_SUBJECT=#{BOARD_SUBJECT},
      BOARD_CONTENT=#{BOARD_CONTENT} 
    where 
      BOARD_NUM=#{BOARD_NUM}
  </update>
  
  <delete id="boardDelete">
    delete from board where BOARD_num=#{value}
  </delete>
</mapper>






